.div {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.div-2 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-self: stretch;
  position: relative;
  display: flex;
  min-height: 1024px;
  width: 100%;
  align-items: end;
  padding: 44px 0 44px 80px;
}
@media (max-width: 991px) {
  .div-2 {
    max-width: 100%;
    padding-left: 20px;
  }
}
.img {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.div-3 {
  position: relative;
  align-self: center;
  display: flex;
  width: 100%;
  max-width: 1305px;
  padding-right: 47px;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .div-3 {
    max-width: 100%;
    flex-wrap: wrap;
    padding-right: 20px;
  }
}
.div-4 {
  display: flex;
  justify-content: space-between;
  gap: 18px;
}
.img-2 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 18px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 100%;
}
.div-5 {
  color: var(--White, #fff);
  font: 400 16px/150% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-6 {
  display: flex;
  justify-content: space-between;
  gap: 18px;
}
.img-3 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 18px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 100%;
}
.div-7 {
  color: var(--White, #fff);
  font: 400 16px/150% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.img-4 {
  aspect-ratio: 9;
  object-fit: contain;
  object-position: center;
  width: 162px;
  overflow: hidden;
  max-width: 100%;
}
.div-8 {
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--White, #fff);
  display: flex;
  margin-top: 18px;
  width: 1305px;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 0 6px 0 58px;
}
@media (max-width: 991px) {
  .div-8 {
    flex-wrap: wrap;
    padding-left: 20px;
  }
}
.div-9 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: auto 0;
}
.div-10 {
  color: var(--Royal-blue, #5956e9);
  text-decoration-line: underline;
  text-transform: uppercase;
  font: 600 20px/130% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-11 {
  color: var(--Black, #232233);
  text-transform: uppercase;
  align-self: center;
  margin: auto 0;
  font: 600 20px/150% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-12 {
  color: var(--Black, #232233);
  text-transform: uppercase;
  margin: auto 0;
  font: 600 20px/150% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-13 {
  display: flex;
  padding-right: 80px;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  margin: auto 0;
}
@media (max-width: 991px) {
  .div-13 {
    max-width: 100%;
    flex-wrap: wrap;
    padding-right: 20px;
  }
}
.div-14 {
  border-radius: 5px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--White, #fff);
  align-self: stretch;
  display: flex;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 31px 17px;
}
.img-5 {
  aspect-ratio: 5.96;
  object-fit: contain;
  object-position: center;
  width: 167px;
  overflow: hidden;
}
.div-15 {
  color: var(--Black, #232233);
  text-transform: uppercase;
  margin: auto 0;
  font: 600 20px/150% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-16 {
  color: var(--Black, #232233);
  text-transform: uppercase;
  align-self: center;
  margin: auto 0;
  font: 600 20px/150% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-17 {
  color: var(--White, #fff);
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: 5px;
  background-color: var(--Royal-blue, #5956e9);
  align-self: center;
  flex-grow: 1;
  justify-content: center;
  margin: auto 0;
  padding: 17px 18px;
  font: 600 20px/150% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-17 {
    white-space: initial;
  }
}
.div-18 {
  position: relative;
  align-self: center;
  width: 100%;
  max-width: 1255px;
  margin: 82px 0 33px;
}
@media (max-width: 991px) {
  .div-18 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-19 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-19 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 51%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}
.div-20 {
  border: 18px solid #7572ff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  margin: auto 0;
  padding: 50px 50px 50px 0;
}
@media (max-width: 991px) {
  .div-20 {
    max-width: 100%;
    margin-top: 40px;
    padding-right: 20px;
  }
}
.div-21 {
  background-color: var(--White, #fff);
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 44px 28px;
}
@media (max-width: 991px) {
  .div-21 {
    max-width: 100%;
    padding: 0 20px;
  }
}
.div-22 {
  color: var(--Royal-blue, #5956e9);
  text-transform: uppercase;
  align-self: stretch;
  font: 700 49px/63px Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-22 {
    max-width: 100%;
    font-size: 40px;
    line-height: 57px;
  }
}
.div-23 {
  color: var(--gray-paragraph, #6c6c72);
  align-self: stretch;
  margin-top: 41px;
  font: 400 16px/24px Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-23 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-24 {
  color: var(--Black, #232233);
  text-transform: uppercase;
  align-self: stretch;
  margin-top: 57px;
  font: 600 25px/150% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-24 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-25 {
  align-self: start;
  display: flex;
  margin-top: 17px;
  width: 314px;
  max-width: 100%;
  gap: 14px;
}
.img-6 {
  aspect-ratio: 3.17;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
  flex: 1;
}
.img-7 {
  aspect-ratio: 3.36;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
  flex: 1;
}
.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 49%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-2 {
    width: 100%;
  }
}
.img-8 {
  aspect-ratio: 0.77;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .img-8 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-26 {
  color: var(--Black, #232233);
  text-transform: uppercase;
  align-self: center;
  margin-top: 127px;
  white-space: nowrap;
  font: 700 31px/151.2% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-26 {
    margin-top: 40px;
    white-space: initial;
  }
}
.div-27 {
  color: var(--gray-paragraph, #6c6c72);
  text-align: center;
  align-self: center;
  margin-top: 39px;
  max-width: 592px;
  font: 400 16px/24px Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-27 {
    max-width: 100%;
  }
}
.div-28 {
  align-self: center;
  margin-top: 63px;
  width: 100%;
  max-width: 1144px;
}
@media (max-width: 991px) {
  .div-28 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-29 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-29 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-3 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 45%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-3 {
    width: 100%;
  }
}
.img-9 {
  aspect-ratio: 0.7;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
}
@media (max-width: 991px) {
  .img-9 {
    margin-top: 40px;
  }
}
.column-4 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 55%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-4 {
    width: 100%;
  }
}
.div-30 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-30 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-31 {
  border-radius: 10px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--White, #fff);
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 26px 27px 26px 18px;
}
@media (max-width: 991px) {
  .div-31 {
    max-width: 100%;
    padding-right: 20px;
  }
}
.div-32 {
  display: flex;
  gap: 17px;
}
.img-10 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 100%;
}
.div-33 {
  color: var(--Black, #232233);
  text-transform: uppercase;
  align-self: center;
  flex-grow: 1;
  white-space: nowrap;
  margin: auto 0;
  font: 600 20px/150% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-33 {
    white-space: initial;
  }
}
.div-34 {
  color: var(--gray-paragraph, #6c6c72);
  align-self: end;
  margin-top: 22px;
  max-width: 484px;
  font: 400 16px/24px Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-34 {
    max-width: 100%;
  }
}
.div-35 {
  border-radius: 10px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--White, #fff);
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  align-items: start;
  padding: 26px 27px 26px 18px;
}
@media (max-width: 991px) {
  .div-35 {
    max-width: 100%;
    padding-right: 20px;
  }
}
.div-36 {
  display: flex;
  gap: 18px;
}
.img-11 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 100%;
}
.div-37 {
  color: var(--Black, #232233);
  text-transform: uppercase;
  margin: auto 0;
  font: 600 20px/150% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-38 {
  color: var(--gray-paragraph, #6c6c72);
  align-self: end;
  margin-top: 22px;
  max-width: 484px;
  font: 400 16px/24px Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-38 {
    max-width: 100%;
  }
}
.div-39 {
  border-radius: 10px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--White, #fff);
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  align-items: start;
  padding: 26px 27px 26px 18px;
}
@media (max-width: 991px) {
  .div-39 {
    max-width: 100%;
    padding-right: 20px;
  }
}
.div-40 {
  display: flex;
  gap: 18px;
}
.img-12 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 100%;
}
.div-41 {
  color: var(--Black, #232233);
  text-transform: uppercase;
  align-self: center;
  flex-grow: 1;
  white-space: nowrap;
  margin: auto 0;
  font: 600 20px/150% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-41 {
    white-space: initial;
  }
}
.div-42 {
  color: var(--gray-paragraph, #6c6c72);
  align-self: end;
  margin-top: 22px;
  max-width: 484px;
  font: 400 16px/24px Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-42 {
    max-width: 100%;
  }
}
.div-43 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-self: stretch;
  position: relative;
  display: flex;
  min-height: 1710px;
  margin-top: 138px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 50px 60px;
}
@media (max-width: 991px) {
  .div-43 {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}
.div-44 {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1123px;
  flex-direction: column;
  margin: 77px 0 46px;
}
@media (max-width: 991px) {
  .div-44 {
    max-width: 100%;
    margin: 40px 0;
  }
}
.div-45 {
  color: var(--White, #fff);
  text-transform: uppercase;
  align-self: center;
  white-space: nowrap;
  font: 700 31px/151.2% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-45 {
    white-space: initial;
  }
}
.div-46 {
  color: var(--White, #fff);
  text-align: center;
  align-self: center;
  margin-top: 39px;
  max-width: 592px;
  font: 400 16px/24px Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-46 {
    max-width: 100%;
  }
}
.img-13 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 50px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  align-self: center;
  margin-top: 63px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .img-13 {
    margin-top: 40px;
  }
}
.div-47 {
  color: var(--White, #fff);
  text-align: center;
  text-transform: uppercase;
  align-self: center;
  margin-top: 28px;
  white-space: nowrap;
  font: 600 25px/150% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-47 {
    white-space: initial;
  }
}
.div-48 {
  color: var(--White, #fff);
  text-align: center;
  align-self: center;
  margin-top: 35px;
  max-width: 286px;
  font: 400 16px/24px Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-49 {
  align-self: stretch;
  margin-top: 60px;
}
@media (max-width: 991px) {
  .div-49 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-50 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-50 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-5 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 67%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-5 {
    width: 100%;
  }
}
.div-51 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-51 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-52 {
}
@media (max-width: 991px) {
  .div-52 {
    max-width: 100%;
  }
}
.div-53 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-53 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-6 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 43%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-6 {
    width: 100%;
  }
}
.div-54 {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}
@media (max-width: 991px) {
  .div-54 {
    margin-top: 40px;
  }
}
.img-14 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 50px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  align-self: end;
  max-width: 100%;
}
.div-55 {
  color: var(--White, #fff);
  text-align: right;
  text-transform: uppercase;
  align-self: start;
  white-space: nowrap;
  margin: 28px 0 0 11px;
  font: 600 25px/150% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-55 {
    margin-left: 10px;
    white-space: initial;
  }
}
.div-56 {
  color: var(--White, #fff);
  text-align: right;
  align-self: stretch;
  margin-top: 34px;
  font: 400 16px/24px Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.img-15 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 50px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  align-self: end;
  margin-top: 347px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .img-15 {
    margin-top: 40px;
  }
}
.div-57 {
  color: var(--White, #fff);
  text-align: right;
  text-transform: uppercase;
  align-self: end;
  margin-top: 28px;
  white-space: nowrap;
  font: 600 25px/150% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-57 {
    white-space: initial;
  }
}
.div-58 {
  color: var(--White, #fff);
  text-align: right;
  align-self: stretch;
  margin-top: 34px;
  font: 400 16px/24px Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.column-7 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 57%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-7 {
    width: 100%;
  }
}
.img-16 {
  aspect-ratio: 0.46;
  object-fit: contain;
  object-position: center;
  width: 100%;
  box-shadow: 40px 40px 100px 0px rgba(24, 48, 63, 0.5);
  overflow: hidden;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .img-16 {
    margin-top: 40px;
  }
}
.div-59 {
  align-self: end;
  display: flex;
  width: 316px;
  max-width: 100%;
  flex-direction: column;
  margin: 60px 30px 0 0;
}
@media (max-width: 991px) {
  .div-59 {
    margin: 40px 10px 0 0;
  }
}
.img-17 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 50px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  align-self: center;
  max-width: 100%;
}
.div-60 {
  color: var(--White, #fff);
  text-align: center;
  text-transform: uppercase;
  margin-top: 35px;
  white-space: nowrap;
  font: 600 20px/150% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-60 {
    white-space: initial;
  }
}
.div-61 {
  color: var(--White, #fff);
  text-align: center;
  align-self: center;
  margin-top: 32px;
  max-width: 286px;
  font: 400 16px/24px Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.column-8 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-8 {
    width: 100%;
  }
}
.div-62 {
  display: flex;
  margin-top: 62px;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-62 {
    margin-top: 40px;
  }
}
.img-18 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 50px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  align-self: start;
  max-width: 100%;
}
.div-63 {
  color: var(--White, #fff);
  text-align: center;
  text-transform: uppercase;
  align-self: start;
  white-space: nowrap;
  margin: 28px 0 0 12px;
  font: 600 25px/150% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-63 {
    margin-left: 10px;
    white-space: initial;
  }
}
.div-64 {
  color: var(--White, #fff);
  align-self: stretch;
  margin-top: 34px;
  font: 400 16px/24px Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.img-19 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 56px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  align-self: start;
  margin-top: 342px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .img-19 {
    margin-top: 40px;
  }
}
.div-65 {
  color: var(--White, #fff);
  text-align: center;
  text-transform: uppercase;
  align-self: start;
  white-space: nowrap;
  margin: 28px 0 0 12px;
  font: 600 25px/150% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-65 {
    margin-left: 10px;
    white-space: initial;
  }
}
.div-66 {
  color: var(--White, #fff);
  align-self: stretch;
  margin-top: 34px;
  font: 400 16px/24px Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-67 {
  color: var(--Black, #232233);
  text-transform: uppercase;
  align-self: center;
  margin-top: 127px;
  font: 700 31px/151.2% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-67 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-68 {
  color: var(--gray-paragraph, #6c6c72);
  text-align: center;
  align-self: center;
  margin-top: 43px;
  max-width: 592px;
  font: 400 16px/24px Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-68 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-69 {
  align-self: center;
  display: flex;
  margin-top: 63px;
  width: 100%;
  max-width: 1294px;
  justify-content: space-between;
  gap: 20px;
  padding: 0 20px;
}
@media (max-width: 991px) {
  .div-69 {
    max-width: 100%;
    flex-wrap: wrap;
    margin-top: 40px;
  }
}
.img-20 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 84px;
  overflow: hidden;
  align-self: center;
  max-width: 100%;
  margin: auto 0;
}
.img-21 {
  aspect-ratio: 1.71;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
  flex-grow: 1;
  flex-basis: 0%;
}
@media (max-width: 991px) {
  .img-21 {
    max-width: 100%;
  }
}
.img-22 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 84px;
  overflow: hidden;
  align-self: center;
  max-width: 100%;
  margin: auto 0;
}
.img-23 {
  aspect-ratio: 7.7;
  object-fit: contain;
  object-position: center;
  width: 154px;
  overflow: hidden;
  align-self: center;
  margin-top: 40px;
  max-width: 100%;
}
.div-70 {
  align-self: center;
  margin-top: 120px;
  width: 100%;
  max-width: 1166px;
}
@media (max-width: 991px) {
  .div-70 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-71 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-71 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-9 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 52%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-9 {
    width: 100%;
  }
}
.div-72 {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  padding: 0 20px;
}
@media (max-width: 991px) {
  .div-72 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-73 {
  color: var(--Black, #232233);
  text-transform: uppercase;
  align-self: stretch;
  font: 700 31px/151.2% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-73 {
    max-width: 100%;
  }
}
.div-74 {
  color: var(--gray-paragraph, #6c6c72);
  align-self: stretch;
  margin-top: 21px;
  font: 400 16px/24px Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-74 {
    max-width: 100%;
  }
}
.div-75 {
  align-self: start;
  display: flex;
  margin-top: 36px;
  width: 325px;
  max-width: 100%;
  justify-content: space-between;
  gap: 20px;
}
.img-24 {
  aspect-ratio: 3.17;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
  flex: 1;
}
.img-25 {
  aspect-ratio: 3.36;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
  flex: 1;
}
.div-76 {
  align-self: stretch;
  margin-top: 59px;
}
@media (max-width: 991px) {
  .div-76 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-77 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-77 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-10 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-10 {
    width: 100%;
  }
}
.div-78 {
  border-radius: 10px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--Royal-blue, #5851ea);
  display: flex;
  flex-direction: column;
  width: 173px;
  height: 173px;
  margin: 0 auto;
  padding: 30px 26px 30px 21px;
}
@media (max-width: 991px) {
  .div-78 {
    margin-top: 30px;
    padding: 0 20px;
  }
}
.img-26 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 35px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  align-self: center;
  max-width: 100%;
}
.div-79 {
  color: var(--White, #fff);
  text-transform: uppercase;
  align-self: center;
  margin-top: 20px;
  white-space: nowrap;
  font: 600 25px Josefin Sans, sans-serif;
}
@media (max-width: 991px) {
  .div-79 {
    white-space: initial;
  }
}
.div-80 {
  color: var(--White, #fff);
  text-transform: uppercase;
  margin-top: 29px;
  white-space: nowrap;
  font: 600 20px/150% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-80 {
    white-space: initial;
  }
}
.column-11 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-11 {
    width: 100%;
  }
}
.div-81 {
  border-radius: 10px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--Royal-blue, #5851ea);
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 173px;
  height: 173px;
  margin: 0 auto;
  padding: 30px 52px;
}
@media (max-width: 991px) {
  .div-81 {
    margin-top: 30px;
    padding: 0 20px;
  }
}
.img-27 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 35px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 100%;
}
.div-82 {
  color: var(--White, #fff);
  text-transform: uppercase;
  align-self: stretch;
  margin-top: 20px;
  white-space: nowrap;
  font: 600 25px Josefin Sans, sans-serif;
}
@media (max-width: 991px) {
  .div-82 {
    white-space: initial;
  }
}
.div-83 {
  color: var(--White, #fff);
  text-transform: uppercase;
  align-self: stretch;
  margin-top: 29px;
  white-space: nowrap;
  font: 600 20px/150% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-83 {
    white-space: initial;
  }
}
.column-12 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-12 {
    width: 100%;
  }
}
.div-84 {
  border-radius: 10px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--Royal-blue, #5851ea);
  display: flex;
  flex-direction: column;
  width: 173px;
  height: 173px;
  margin: 0 auto;
  padding: 30px 12px;
}
@media (max-width: 991px) {
  .div-84 {
    margin-top: 30px;
  }
}
.img-28 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 35px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  align-self: center;
  max-width: 100%;
}
.div-85 {
  color: var(--White, #fff);
  text-transform: uppercase;
  align-self: center;
  margin-top: 20px;
  white-space: nowrap;
  font: 600 25px Josefin Sans, sans-serif;
}
@media (max-width: 991px) {
  .div-85 {
    white-space: initial;
  }
}
.div-86 {
  color: var(--White, #fff);
  text-transform: uppercase;
  margin-top: 29px;
  white-space: nowrap;
  font: 600 20px/150% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-86 {
    white-space: initial;
  }
}
.column-13 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 48%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-13 {
    width: 100%;
  }
}
.img-29 {
  aspect-ratio: 1.02;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .img-29 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-87 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-self: stretch;
  position: relative;
  display: flex;
  min-height: 477px;
  margin-top: 162px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 50px 60px;
}
@media (max-width: 991px) {
  .div-87 {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}
.div-88 {
  position: relative;
  display: flex;
  width: 592px;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 77px 0 125px;
}
@media (max-width: 991px) {
  .div-88 {
    margin: 40px 0;
  }
}
.div-89 {
  color: var(--White, #fff);
  text-align: center;
  text-transform: uppercase;
  font: 700 31px/151.2% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-89 {
    max-width: 100%;
  }
}
.div-90 {
  color: var(--White, #fff);
  text-align: center;
  align-self: stretch;
  margin-top: 43px;
  font: 400 16px/24px Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-90 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.img-30 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 70px;
  overflow: hidden;
  align-self: center;
  z-index: 1;
  margin-top: -35px;
  max-width: 100%;
}
.div-91 {
  color: var(--Black, #232233);
  text-transform: uppercase;
  align-self: center;
  margin-top: 255px;
  white-space: nowrap;
  font: 700 31px/151.2% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-91 {
    margin-top: 40px;
    white-space: initial;
  }
}
.div-92 {
  color: var(--gray-paragraph, #6c6c72);
  text-align: center;
  align-self: center;
  margin-top: 43px;
  max-width: 592px;
  font: 400 16px/24px Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-92 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-93 {
  align-self: center;
  margin-top: 63px;
  width: 100%;
  max-width: 1170px;
  padding: 0 20px;
}
@media (max-width: 991px) {
  .div-93 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-94 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-94 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-14 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-14 {
    width: 100%;
  }
}
.div-95 {
  border-radius: 10px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--White, #fff);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  padding: 29px 28px 50px;
}
@media (max-width: 991px) {
  .div-95 {
    margin-top: 30px;
    padding: 0 20px;
  }
}
.img-31 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 220px;
  overflow: hidden;
  align-self: center;
  max-width: 100%;
}
.div-96 {
  color: var(--Black, #232233);
  text-transform: uppercase;
  align-self: center;
  margin-top: 73px;
  white-space: nowrap;
  font: 700 31px/151.2% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-96 {
    margin-top: 40px;
    white-space: initial;
  }
}
.div-97 {
  color: var(--gray-paragraph, #6c6c72);
  text-transform: uppercase;
  align-self: center;
  margin-top: 17px;
  white-space: nowrap;
  font: 600 20px/150% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-97 {
    white-space: initial;
  }
}
.div-98 {
  color: var(--gray-paragraph, #6c6c72);
  text-align: center;
  align-self: stretch;
  margin-top: 27px;
  font: 400 16px/24px Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.img-32 {
  aspect-ratio: 11.75;
  object-fit: contain;
  object-position: center;
  width: 282px;
  overflow: hidden;
  align-self: center;
  margin-top: 37px;
  max-width: 100%;
}
.column-15 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-15 {
    width: 100%;
  }
}
.div-99 {
  border-radius: 10px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--White, #fff);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  padding: 29px 28px 50px;
}
@media (max-width: 991px) {
  .div-99 {
    margin-top: 30px;
    padding: 0 20px;
  }
}
.img-33 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 220px;
  overflow: hidden;
  align-self: center;
  max-width: 100%;
}
.div-100 {
  color: var(--Black, #232233);
  text-transform: uppercase;
  align-self: center;
  margin-top: 67px;
  white-space: nowrap;
  font: 700 31px/151.2% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-100 {
    margin-top: 40px;
    white-space: initial;
  }
}
.div-101 {
  color: var(--gray-paragraph, #6c6c72);
  text-transform: uppercase;
  align-self: center;
  margin-top: 23px;
  white-space: nowrap;
  font: 600 20px/150% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-101 {
    white-space: initial;
  }
}
.div-102 {
  color: var(--gray-paragraph, #6c6c72);
  text-align: center;
  align-self: stretch;
  margin-top: 27px;
  font: 400 16px/24px Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.img-34 {
  aspect-ratio: 11.75;
  object-fit: contain;
  object-position: center;
  width: 282px;
  overflow: hidden;
  align-self: center;
  margin-top: 37px;
  max-width: 100%;
}
.column-16 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-16 {
    width: 100%;
  }
}
.div-103 {
  border-radius: 10px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--White, #fff);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  padding: 29px 27px 50px;
}
@media (max-width: 991px) {
  .div-103 {
    margin-top: 30px;
    padding: 0 20px;
  }
}
.img-35 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 220px;
  overflow: hidden;
  align-self: center;
  max-width: 100%;
}
.div-104 {
  color: var(--Black, #232233);
  text-transform: uppercase;
  margin-top: 67px;
  white-space: nowrap;
  font: 700 31px/151.2% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-104 {
    margin-top: 40px;
    white-space: initial;
  }
}
.div-105 {
  color: var(--gray-paragraph, #6c6c72);
  text-transform: uppercase;
  align-self: center;
  margin-top: 18px;
  white-space: nowrap;
  font: 600 20px/150% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-105 {
    white-space: initial;
  }
}
.div-106 {
  color: var(--gray-paragraph, #6c6c72);
  text-align: center;
  margin-top: 27px;
  font: 400 16px/24px Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.img-36 {
  aspect-ratio: 11.75;
  object-fit: contain;
  object-position: center;
  width: 282px;
  overflow: hidden;
  align-self: center;
  margin-top: 37px;
  max-width: 100%;
}
.div-107 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-self: stretch;
  position: relative;
  display: flex;
  min-height: 876px;
  margin-top: 120px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 50px 60px;
}
@media (max-width: 991px) {
  .div-107 {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}
.div-108 {
  position: relative;
  display: flex;
  width: 784px;
  max-width: 100%;
  flex-direction: column;
  margin: 77px 0 44px;
}
@media (max-width: 991px) {
  .div-108 {
    margin: 40px 0;
  }
}
.div-109 {
  color: var(--White, #fff);
  text-transform: uppercase;
  align-self: center;
  white-space: nowrap;
  font: 700 31px/151.2% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-109 {
    white-space: initial;
  }
}
.div-110 {
  color: var(--White, #fff);
  text-align: center;
  align-self: center;
  margin-top: 44px;
  max-width: 592px;
  font: 400 16px/24px Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-110 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-111 {
  align-self: stretch;
  margin-top: 103px;
}
@media (max-width: 991px) {
  .div-111 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-112 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-112 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-17 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 36%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-17 {
    width: 100%;
  }
}
.div-113 {
  display: flex;
  margin-top: 14px;
  flex-grow: 1;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-113 {
    margin-top: 40px;
  }
}
.img-37 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 96px;
  overflow: hidden;
  border-radius: 50%;
  align-self: center;
  max-width: 100%;
}
.div-114 {
  color: var(--Black, #232233);
  text-transform: uppercase;
  margin-top: 27px;
  white-space: nowrap;
  font: 700 31px/151.2% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-114 {
    white-space: initial;
  }
}
.div-115 {
  color: var(--Black, #232233);
  text-align: center;
  text-transform: uppercase;
  align-self: center;
  margin-top: 22px;
  white-space: nowrap;
  font: 600 20px/150% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-115 {
    white-space: initial;
  }
}
.column-18 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 35%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-18 {
    width: 100%;
  }
}
.div-116 {
  display: flex;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-116 {
    margin-top: 40px;
  }
}
.img-38 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 96px;
  overflow: hidden;
  border-radius: 50%;
  align-self: center;
  max-width: 100%;
}
.div-117 {
  color: var(--Black, #232233);
  text-transform: uppercase;
  margin-top: 27px;
  white-space: nowrap;
  font: 700 31px/151.2% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-117 {
    white-space: initial;
  }
}
.div-118 {
  color: var(--Black, #232233);
  text-align: center;
  text-transform: uppercase;
  align-self: center;
  margin-top: 22px;
  white-space: nowrap;
  font: 600 20px/150% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-118 {
    white-space: initial;
  }
}
.column-19 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 29%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-19 {
    width: 100%;
  }
}
.div-119 {
  display: flex;
  margin-top: 14px;
  flex-grow: 1;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-119 {
    margin-top: 40px;
  }
}
.img-39 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 96px;
  overflow: hidden;
  border-radius: 50%;
  align-self: center;
  max-width: 100%;
}
.div-120 {
  color: var(--Black, #232233);
  text-transform: uppercase;
  margin-top: 27px;
  white-space: nowrap;
  font: 700 31px/151.2% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-120 {
    white-space: initial;
  }
}
.div-121 {
  color: var(--Black, #232233);
  text-align: center;
  text-transform: uppercase;
  align-self: center;
  margin-top: 22px;
  white-space: nowrap;
  font: 600 20px/150% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-121 {
    white-space: initial;
  }
}
.div-122 {
  color: var(--gray-paragraph, #6c6c72);
  text-align: center;
  align-self: center;
  margin-top: 7px;
  max-width: 634px;
  font: 400 16px/24px Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-122 {
    max-width: 100%;
  }
}
.img-40 {
  aspect-ratio: 7.7;
  object-fit: contain;
  object-position: center;
  width: 154px;
  overflow: hidden;
  align-self: center;
  margin-top: 107px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .img-40 {
    margin-top: 40px;
  }
}
.div-123 {
  color: var(--Black, #232233);
  text-transform: uppercase;
  align-self: center;
  margin-top: 127px;
  white-space: nowrap;
  font: 700 31px/151.2% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-123 {
    margin-top: 40px;
    white-space: initial;
  }
}
.div-124 {
  color: var(--gray-paragraph, #6c6c72);
  text-align: center;
  align-self: center;
  margin-top: 43px;
  max-width: 592px;
  font: 400 16px/24px Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-124 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-125 {
  align-self: center;
  margin-top: 63px;
  width: 100%;
  max-width: 1170px;
  padding: 0 20px;
}
@media (max-width: 991px) {
  .div-125 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-126 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-126 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-20 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-20 {
    width: 100%;
  }
}
.div-127 {
  border-radius: 10px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--White, #fff);
  display: flex;
  flex-grow: 1;
  padding-bottom: 40px;
  flex-direction: column;
  width: 100%;
}
@media (max-width: 991px) {
  .div-127 {
    margin-top: 30px;
  }
}
.img-41 {
  aspect-ratio: 1.62;
  object-fit: contain;
  object-position: center;
  width: 100%;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.div-128 {
  display: flex;
  margin-top: 45px;
  flex-direction: column;
  padding: 0 18px;
}
@media (max-width: 991px) {
  .div-128 {
    margin-top: 40px;
  }
}
.div-129 {
  color: var(--Black, #232233);
  text-transform: uppercase;
  font: 600 20px/30px Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-130 {
  color: var(--gray-paragraph, #6c6c72);
  margin-top: 23px;
  font: 400 16px/24px Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-131 {
  color: #5851ea;
  text-decoration-line: underline;
  text-transform: uppercase;
  margin-top: 37px;
  font: 600 20px/130% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.column-21 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-21 {
    width: 100%;
  }
}
.div-132 {
  border-radius: 10px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--White, #fff);
  display: flex;
  flex-grow: 1;
  padding-bottom: 40px;
  flex-direction: column;
  width: 100%;
}
@media (max-width: 991px) {
  .div-132 {
    margin-top: 30px;
  }
}
.img-42 {
  aspect-ratio: 1.62;
  object-fit: contain;
  object-position: center;
  width: 100%;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.div-133 {
  display: flex;
  margin-top: 45px;
  flex-direction: column;
  padding: 0 18px;
}
@media (max-width: 991px) {
  .div-133 {
    margin-top: 40px;
  }
}
.div-134 {
  color: var(--Black, #232233);
  text-transform: uppercase;
  font: 600 20px/30px Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-135 {
  color: var(--gray-paragraph, #6c6c72);
  margin-top: 23px;
  font: 400 16px/24px Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-136 {
  color: #5851ea;
  text-decoration-line: underline;
  text-transform: uppercase;
  margin-top: 37px;
  font: 600 20px/130% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.column-22 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-22 {
    width: 100%;
  }
}
.div-137 {
  border-radius: 10px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--White, #fff);
  display: flex;
  flex-grow: 1;
  padding-bottom: 40px;
  flex-direction: column;
  width: 100%;
}
@media (max-width: 991px) {
  .div-137 {
    margin-top: 30px;
  }
}
.img-43 {
  aspect-ratio: 1.62;
  object-fit: contain;
  object-position: center;
  width: 100%;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.div-138 {
  display: flex;
  margin-top: 45px;
  flex-direction: column;
  padding: 0 18px;
}
@media (max-width: 991px) {
  .div-138 {
    margin-top: 40px;
  }
}
.div-139 {
  color: var(--Black, #232233);
  text-transform: uppercase;
  font: 600 20px/30px Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-140 {
  color: var(--gray-paragraph, #6c6c72);
  margin-top: 23px;
  font: 400 16px/24px Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-141 {
  color: #5851ea;
  text-decoration-line: underline;
  text-transform: uppercase;
  margin-top: 37px;
  font: 600 20px/130% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-142 {
  border-radius: 30px;
  background-color: var(--White, #fff);
  align-self: center;
  z-index: 1;
  margin-top: 120px;
  width: 1170px;
  max-width: 100%;
  padding: 50px 80px 50px 50px;
}
@media (max-width: 991px) {
  .div-142 {
    margin-top: 40px;
    padding: 0 20px;
  }
}
.div-143 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-143 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-23 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 54%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-23 {
    width: 100%;
  }
}
.div-144 {
  display: flex;
  gap: 18px;
  margin: auto 0;
}
@media (max-width: 991px) {
  .div-144 {
    margin-top: 40px;
  }
}
.img-44 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100px;
  overflow: hidden;
  max-width: 100%;
}
.div-145 {
  color: var(--Black, #232233);
  text-transform: lowercase;
  align-self: center;
  flex-grow: 1;
  white-space: nowrap;
  margin: auto 0;
  font: 600 25px/150% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-145 {
    white-space: initial;
  }
}
.column-24 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 46%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-24 {
    width: 100%;
  }
}
.div-146 {
  display: flex;
  justify-content: space-between;
  gap: 18px;
  margin: auto 0;
}
@media (max-width: 991px) {
  .div-146 {
    margin-top: 40px;
  }
}
.div-147 {
  background-color: #6c6c72;
  width: 4px;
  height: 117px;
}
.img-45 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100px;
  overflow: hidden;
  align-self: center;
  max-width: 100%;
  margin: auto 0;
}
.div-148 {
  color: var(--Black, #232233);
  align-self: center;
  flex-grow: 1;
  white-space: nowrap;
  margin: auto 0;
  font: 600 25px/150% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-148 {
    white-space: initial;
  }
}
.div-149 {
  background-color: var(--Black, #232233);
  align-self: stretch;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 50px 60px 17px;
}
@media (max-width: 991px) {
  .div-149 {
    max-width: 100%;
    padding: 0 20px;
  }
}
.div-150 {
  display: flex;
  margin-top: 191px;
  width: 100%;
  max-width: 1169px;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 991px) {
  .div-150 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-151 {
  align-self: stretch;
}
@media (max-width: 991px) {
  .div-151 {
    max-width: 100%;
  }
}
.div-152 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-152 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-25 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 65%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-25 {
    width: 100%;
  }
}
.div-153 {
  flex-grow: 1;
}
@media (max-width: 991px) {
  .div-153 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-154 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-154 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-26 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 70%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-26 {
    width: 100%;
  }
}
.div-155 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: start;
}
@media (max-width: 991px) {
  .div-155 {
    margin-top: 40px;
  }
}
.div-156 {
  color: var(--White, #fff);
  text-transform: uppercase;
  align-self: stretch;
  font: 700 31px/151.2% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-157 {
  color: var(--White, #fff);
  align-self: stretch;
  margin-top: 22px;
  font: 400 16px/24px Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.img-46 {
  aspect-ratio: 11.5;
  object-fit: contain;
  object-position: center;
  width: 276px;
  overflow: hidden;
  margin-top: 44px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .img-46 {
    margin-top: 40px;
  }
}
.column-27 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 30%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-27 {
    width: 100%;
  }
}
.div-158 {
  display: flex;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-158 {
    margin-top: 40px;
  }
}
.div-159 {
  color: var(--White, #fff);
  text-transform: uppercase;
  white-space: nowrap;
  font: 600 25px/150% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-159 {
    white-space: initial;
  }
}
.div-160 {
  color: var(--White, #fff);
  margin-top: 27px;
  font: 400 16px/150% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-161 {
  color: var(--White, #fff);
  margin-top: 24px;
  font: 400 16px/150% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-162 {
  color: var(--White, #fff);
  margin-top: 24px;
  font: 400 16px/150% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-163 {
  color: var(--White, #fff);
  margin-top: 24px;
  font: 400 16px/150% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.column-28 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 35%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-28 {
    width: 100%;
  }
}
.div-164 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-164 {
    margin-top: 40px;
  }
}
.div-165 {
  color: var(--White, #fff);
  text-transform: uppercase;
  font: 600 25px/150% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-166 {
  color: var(--White, #fff);
  margin-top: 27px;
  font: 400 16px/24px Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-167 {
  border-radius: 4px;
  background-color: var(--White, #fff);
  display: flex;
  margin-top: 38px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 2px 2px 2px 18px;
}
.div-168 {
  color: var(--gray-paragraph, #6c6c72);
  margin: auto 0;
  font: 400 16px/150% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.img-47 {
  aspect-ratio: 1.13;
  object-fit: contain;
  object-position: center;
  width: 52px;
  overflow: hidden;
  align-self: stretch;
  max-width: 100%;
}
.div-169 {
  background-color: #fff;
  align-self: stretch;
  margin-top: 63px;
  height: 1px;
}
@media (max-width: 991px) {
  .div-169 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-170 {
  display: flex;
  margin-top: 18px;
  gap: 18px;
}
.img-48 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 100%;
}
.div-171 {
  color: var(--White, #fff);
  align-self: center;
  flex-grow: 1;
  white-space: nowrap;
  margin: auto 0;
  font: 400 16px/150% Josefin Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-171 {
    white-space: initial;
  }
}